version: "3.9"

services:
  backend:
    build: .
    container_name: iot-backend
    ports:
      - "8000:8000"
    restart: unless-stopped
    environment:
      INFLUX_TOKEN: ${INFLUX_TOKEN}
      INFLUX_ORG: ${INFLUX_ORG}
      INFLUX_BUCKET: ${INFLUX_BUCKET}
